html, body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  background-color: rgb(73, 73, 73);
}

@import "1-tools/variables.scss";
@import "1-tools/animation.scss";
@import "2-sections/header.scss";
@import "2-sections/about.scss";
@import "2-sections/projects.scss";
@import "2-sections/contact.scss";
@import "3-modules/menu.scss";
@import "3-modules/modal.scss";
