.menu-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  .menu-container {
    display: block;
    position: fixed;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    width: 96%;
    height: 95%;
    margin: 2% auto;
    left: 2%;
    .menu-close {
      z-index: 2;
      border: 2px solid #19CF86;
      padding: 0 15px;
      border-radius: 100px;
      font-size: 48px;
      color: #19CF86;
      margin: 25px;
      position: absolute;
      top:20%;
      left:60%;
      &:hover {
        color: white;
        cursor: pointer;
        transition: border 0.25s ease-in-out, color 0.25s ease-in-out;
        border: 2px solid white;
      }
    }
    .menu {
      margin-top: 15%;
      padding: 0;
      list-style: none;
      .menu-item {
        color: #19CF86;
        font-size: 36px;
        padding-top:25px;
        &:hover {
          transition: transform 0.5s ease-in-out;
          transform: scale(1.05);
          color:white;
        }
        a {
          color: inherit;
          text-decoration: none;

        }
      }
    }
  }
}
