.about {
  .grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row:before, .row:after {
      content:"";
      display: table;
      clear:both;
    }
    .row {
      [class*='col-'] {
        float: left;
        min-height: 1px;
        width: 16.66%;
        p {
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;
        }
      }
      .col-1{
          width: 16.66%;
      }
      .col-2{
          width: 33.33%;
      }
      .col-3{
          width: 50%;
      }
      .col-4{
          width: 66.664%;
      }
      .col-5{
          width: 83.33%;
      }
      .col-6{
          width: 100%;
      }
      @media all and (max-width:950px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 33.33%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%;
        }

        .row .col-5 ~ .col-1{
            width: 100%;
        }
        #twitter-timeline {
          display: none;
        }
      }
      @media all and (max-width:650px){
        .col-1{ width: 50%;     }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;    }

      }
      @media all and (max-width: 650px) {
        #twitter-timeline {
          display: none;
        }
      }

      #total-donated {
        height: 350px;
        background-color: rgb(187, 187, 187);
        h1 {
          font-size: 40px;
          text-align: center;
          text-decoration: underline;
          color: rgb(255, 238, 1);
        }
        .donation-text {
          text-decoration: underline;
          text-align: left;
          margin-left: 30px;
          line-height: 2.0;
          @media all and (max-width: 650px) {
            font-size: 28px;
          }
          @media all and (min-width: 651px) {
            font-size: 3vw;
          }
          background-color: inherit;
          color: black;
          span {
            margin-left: 10px;
            font-weight: 800;
            display: inline-block;
            color: rgb(255, 238, 1);
          }
        }
      }
      #events {
        background-color: rgb(48, 48, 48);
        background-image: url('https://s-media-cache-ak0.pinimg.com/564x/f1/4e/16/f14e1605521c8b37db3dc7e290bb51a4.jpg');
        height: 350px;
        h1 {
          margin-left: 15px;
          text-align: center;
          color: white;
          .expand {
            float: right;
            margin-right: 15px;
          }
        }
        .event-container {
          .event-cover {
            margin-top: 275px;
            padding-top: 2px;
            height: 75px;
            background-color: rgba(0, 0, 0, 0.7);
            p {
              display: none;
              text-align: left;
              margin-left: 25px;
              background-color: rgba(0, 0, 0, 0.0);
            }
            &:hover {
              transition: margin-top 1s ease-in-out, height 1s ease-in-out;
              margin-top: 0px;
              height:350px;
              cursor: pointer;
              p {
                transition: display 1s ease-in-out;
                display: inline-block;
              }
            }
          }
        }
      }
      #donation-percentage {
        height: 350px;
        background-color: rgb(44, 44, 44);
        h1 {
          font-size: 40px;
          text-align: center;
          text-decoration: underline;
          color: rgb(255, 238, 1);
        }
        p {
          text-align: left;
          margin-left: 30px;
          line-height: 2.0;
          @media all and (max-width: 650px) {
            font-size: 28px;
          }
          @media all and (min-width: 651px) {
            font-size: 3vw;
          }
          background-color: inherit;
          color: white;
          span {
            margin-left: 10px;
            font-weight: 800;
            display: inline-block;
            color: rgb(255, 238, 1);
          }
        }
      }
      #how-container {
        background-color: rgb(120, 120, 120);
        h1 {
          font-size: 40px;
          text-align: center;
          text-decoration: underline;
          color: rgb(255, 238, 1);
        }
        margin: 0 auto;
        .col-2 {
          display: block;
          margin: 0 auto;
          height: 500px;
          .logo-container {
            z-index: 1;
            margin: 0 auto;
            width: 205px;
            height: 205px;
            background-color: rgb(66, 62, 71);
            border-radius: 100%;
            img {
              padding-top: 30px;
              display: block;
              margin: 0 auto;
              height: 150px;
              width: 150px;
            }
            &:hover {
              cursor: pointer;
              .more-container {
                transition: margin-left 0.75s ease-in-out, z-index 0.15s ease-in-out;
                margin-left: 15px;
                z-index: 1;
              }
            }
            .more-container {
              z-index: -100;
              display: block;
              width: 175px;
              height: 175px;
              border-radius: 100%;
              position: absolute;
              background-color: rgba(#1cf09b, 0.83);
              margin-top: -165px;
              margin-left: -5000px;
              overflow: hidden;
              h1 {
                margin-top: 65px;
                font-size: 26px;
                color: white;
              }
            }
          }
          @media all and (max-width: 650px) {
            .about-container {
              display: none;
            }
          }
          h3 {
            text-align: center;
            color: rgb(255, 238, 1);
          }
          .about-container {

            .about-text {
              line-height: 2.0;
            }
          }
        }
        @media all and (max-width: 650px) {
          .col-2 {
            display: block;
            margin: 0 auto;
            height: 250px;
          }
          #how-2, #how-3 {
            display: none;
          }
        }
      }
    }
  }
}
