.about {
  .grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row:before, .row:after {
      content:"";
      display: table;
      clear:both;
    }
    .row {
      [class*='col-'] {
        float: left;
        min-height: 1px;
        width: 16.66%;
        background-color: #FFDCDC;
        p {
          background-color: #FFC2C2;
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;
        }
      }
      .col-1{
          width: 16.66%;
      }
      .col-2{
          width: 33.33%;
      }
      .col-3{
          width: 50%;
      }
      .col-4{
          width: 66.664%;
      }
      .col-5{
          width: 83.33%;
      }
      .col-6{
          width: 100%;
      }
      @media all and (max-width:800px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 50%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%;
        }

        .row .col-5 ~ .col-1{
            width: 100%;
        }
      }
      @media all and (max-width:650px){
        .col-1{ width: 50%;     }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;    }

      }
      @media all and (max-width: 650px) {
        #twitter-timeline {
          display: none;
        }
      }

      #total-donated {
        height: 350px;
        background-color: rgb(187, 187, 187);
        h1 {
          font-size: 40px;
          text-align: center;
          text-decoration: underline;
          color: rgb(255, 238, 1);
        }
        .donation-text {
          text-decoration: underline;
          text-align: left;
          margin-left: 30px;
          line-height: 2.0;
          font-size: 36px;
          background-color: inherit;
          color: black;
          span {
            margin-left: 10px;
            font-weight: 800;
            display: inline-block;
            color: rgb(255, 238, 1);
          }
        }
      }
      #events {
        background-color: rgb(48, 48, 48);
        background-image: url('https://s-media-cache-ak0.pinimg.com/564x/f1/4e/16/f14e1605521c8b37db3dc7e290bb51a4.jpg');
        height: 350px;
        h1 {
          margin-left: 15px;
          text-align: center;
          color: white;
          .expand {
            float: right;
            margin-right: 15px;
          }
        }
        .event-container {
          .event-cover {
            margin-top: 275px;
            padding-top: 2px;
            height: 75px;
            background-color: rgba(0, 0, 0, 0.7);
            p {
              text-align: left;
              margin-left: 25px;
              background-color: rgba(0, 0, 0, 0.0);
            }
            &:hover {
              transition: margin-top 1s ease-in-out, height 1s ease-in-out;
              margin-top: 0px;
              height:350px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
