.about {
  height: 1100px;
  width: 100%;
  background-color: rgb(73, 73, 73);
  display: flex;
  .row {
    display: flex;
    flex-direction: column;
    width: 26.66667%;
    height: 1000px;
    .twitter-container {
      background-color: white;
    }
    .amount {
      margin-top:-5px;
      width: 100%;
      padding-top: 2px;
      height:600px;
      background-color:rgb(184, 184, 184);
      .percentage {
        color:yellow;
        font-size: 72px;
        margin: 0;
        padding: 50px 0 0 75px;
      }
      .desc {
        padding: 10px 0 0 50px;
        line-height: 2;
        font-weight: 700;
        font-size: 24px;
      }
    }
    .total {
      width: 100%;
      height:400px;
      background-color:rgb(218, 218, 218);
      .total-donated {
        color:yellow;
        font-size: 72px;
        margin: 0;
        padding: 50px 0 0 75px;
      }
      .desc {
        padding: 10px 0 0 50px;
        line-height: 2;
        font-weight: 700;
        font-size: 24px;
        a {
          text-decoration: none;
          color:black;
          border-bottom: 2px solid #19CF86;
          &:hover {
            transition: color 0.5s ease-in-out;
            color: #19CF86;
          }
        }
      }
    }
    .event {
      // background-image:url("http://www.gamereactor.de/media/76/yournewwallpaper_1487614b.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 400px;
      width:100%;
      overflow: hidden;
      .event-obv {
        background-color:rgb(120, 120, 120);
        padding: 1px 15px 5px;
        font-size:24px;
      }
      .event-container {
        overflow: hidden;
        color:white;
        width:100%;
        margin-top: 308px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
      }
      .event-cover {
        .event-title {
          margin: 0;
          padding-top: 5px;
          text-align: center;
        }
        .event-info {
          display: none;
          text-align: center;
          padding-top: 15px;
        }
        .event-more {
          position: absolute;
          display: none;
          margin-top: 244px;
          font-size: 36px;
          padding: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .big {
      position: absolute;
      width: 53.3333333%;
      height: 700px;
      background-color: rgb(167, 167, 167);
      .mission {
        position: absolute;
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-top: 30px;
        font-size: 48px;
        text-align: center;
        color: rgb(31, 31, 31);
      }
      .fluid-container {
        width: 100%;
        display: flex;
        .col {
          display: flex;
          flex-direction: column;
          width:33.3333333333%;
          margin-top: 100px;
          height:600px;
          .icon-container {
            width:45%;
            border-radius: 10000px;
            height:195px;
            border: 2px solid rgb(36, 179, 217);
            margin: 75px auto;
            background-color: white;
            padding-top: 30px;
            .icon {
              height: 130px;
              width: 90%;
              display: block;
              margin: 0 auto;
            }
          }
          .desc {
            text-align: center;
            font-size: 24px;
            color:white;
            font-weight: 700;
          }
          button {
            width:50%;
            height:75px;
            border: none;
            font-size: 18px;
            font-weight: 300;
            margin: 50px auto;
            background-color: #19CF86;
            &:hover {
              transition: border 0.25s ease-in-out;
              cursor: pointer;
              border-bottom: 5px solid #128a5a;
            }
            &:focus {
              outline: none;
              border: 1px solid black;
            }
          }
        }
      }
    }
  }
  #row-1 {
    margin-left:10%;
  }
}
