.contact {
	display: flex;
	padding: 20px 0;
	.contact-info {
		border-right: 5px solid black;
		width: 45%;
		.contact-title {
			margin-left:50px;
			margin-right: 150px;
			border-bottom: 5px solid black;
		}
		.copyright {
			padding-top: 25px;
			display: block;
			padding-left: 60px;
			color:white;
		}
		.legal {
			display: block;
			padding-left: 60px;
			color:white;
		}
		.nav-title {
			margin-left: 50px;
			margin-right: 150px;
			border-bottom: 5px solid black;
		}
		.nav {
			list-style: none;
			padding-left: 60px;
			.option {
				margin-bottom: 15px;
				a {
					color:rgba(143, 141, 141, 0.75);
					text-decoration: none;
					&:hover {
						transition: 0.25s color ease-in-out;
						color:white;
						cursor: pointer;
					}
				}
			}
		}
	}
	.media-container {
		width: 55%;
		display: flex;
		.media-list {
			width: 15%;
			list-style: none;
			padding-left: 20px;
			margin-top: 65px;
			.media {
				margin-bottom: 25px;
				img {
					width: 35px;
					height: 35px;
					cursor: pointer;
				}
			}
		}
		.email {
			.email-container {
				display: flex;
				.email-header {
					width: 40%;
					display: flex;
					flex-direction: column;
					margin-top: 50px;
					h3 {
						border-bottom: 5px solid black;
					}
					input {
						border-radius: 1px;
						margin-bottom: 50px;
						border:none;
						padding: 10px 7px;
						background-color: rgb(94, 93, 93);
						color:white;
						&:focus {
							transition: 0.15s border ease-in-out;
							border-bottom: 5px solid #19CF86;
							outline: none;
						}
					}
				}
				.email-body {
					textarea {
						border-radius: 2px;
						resize: none;
						padding: 10px 7px;
						line-height: 1.5;
						color:white;
						background-color: rgb(94, 93, 93);
						margin-top:75px;
						margin-left:100px;
						width: 100%;
						height: 65%;
						border: 1px solid white;
						&:focus {
							transition: 0.15s border ease-in-out;
							border: 5px solid #19CF86;
							outline: none;
						}
					}
				}
			}
			button {
				border:1px solid #19CF68;
				color: #19CF86;
				background-color: #494949;
				padding: 7px 25px;
				border-radius: 50px;
				outline: none;
				font-size: 20px;
				letter-spacing: 2px;
				&:hover {
					transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
					background-color: #19CF86;
					color:white;
					cursor: pointer;
				}
			}
		}
	}
}
