.contact {
	.grid-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    .row:before, .row:after {
      content:"";
      display: table;
      clear:both;
    }
    .row {
      [class*='col-'] {
        float: left;
        min-height: 1px;
        width: 16.66%;
        p {
          padding: 0;
          margin: 0;
          text-align: center;
          color: white;
        }
      }
      .col-1{
          width: 16.66%;
      }
      .col-2{
          width: 33.33%;
      }
      .col-3{
          width: 50%;
      }
      .col-4{
          width: 66.664%;
      }
      .col-5{
          width: 83.33%;
      }
      .col-6{
          width: 100%;
      }
      @media all and (max-width:945px){
        .col-1{ width: 33.33%;    }
        .col-2{ width: 96%;        }
        .col-3{ width: 83.33%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;      }

        .row .col-2:last-of-type{
            width: 100%;
        }

        .row .col-5 ~ .col-1{
            width: 100%;
        }
      }
      @media all and (max-width:650px){
        .col-1{ width: 50%;     }
        .col-2{ width: 100%;    }
        .col-3{ width: 100%;    }
        .col-4{ width: 100%;    }
        .col-5{ width: 100%;    }
        .col-6{ width: 100%;    }

      }
		}
	}
	@media all and (min-width: 946px) {
		.contact-info {
			border-right: 5px solid black;
		}
		.media-container {
			.media-fluid {
				width: auto;
				margin: 0 25px;
			}
		}
	}
	@media all and (max-width: 945px) {
		.email {
			display: none;
		}
		.contact-info {
			margin-left: 2%;
			padding: 0 2%;
			border-bottom: 5px solid black;
		}
		.media-container {
			.media-fluid {
				width: auto;
				display: block;
				margin: 0 auto;
				.media-list {
					display: flex;
					.media {
						margin-left: 25px;
					}
				}
			}
		}
	}
	padding: 20px 0;
	.contact-info {
		// border-right: 5px solid black;
		.contact-title {
			margin-left:50px;
			margin-right: 150px;
			border-bottom: 5px solid black;
		}
		.copyright {
			padding-top: 25px;
			display: block;
			padding-left: 60px;
			color:white;
		}
		.legal {
			display: block;
			padding-left: 60px;
			color:white;
		}
		.nav-title {
			margin-left: 50px;
			margin-right: 150px;
			border-bottom: 5px solid black;
		}
		.nav {
			list-style: none;
			padding-left: 60px;
			.option {
				margin-bottom: 15px;
				a {
					color:rgba(143, 141, 141, 0.75);
					text-decoration: none;
					&:hover {
						transition: 0.25s color ease-in-out;
						color:white;
						cursor: pointer;
					}
				}
			}
		}
	}
	.media-container {
		display: flex;
		.media-fluid {
			@media all and (min-width: 820px) {
				padding-right: 25px;
			}
			@media all and (max-width: 819px) {
				margin-left:30%;
			}
			@media all and (max-width: 760px) {
				margin-left: 20%;
			}
			@media all and (max-width: 480px) {
				margin-left:5%;
			}
			@media all and (max-width: 260px) {
				margin-left: 25px;
			}
			.media-list {
				width:0;
				list-style: none;
				padding: 0;
				margin-top: 65px;
				.media {
					@media all and (max-width: 260px) {
						margin-left:15px;
					}
					margin-bottom: 25px;
					img {
						width: 35px;
						height: 35px;
						cursor: pointer;
						&:hover {
							border: 2px solid #19CF86;
						}
						@media all and (max-width: 260px) {
							width: 25px;
							height: 25px;
						}
					}
				}
			}
		}
		.email {
			.email-container {
				display: flex;
				.email-header {
					width: 40%;
					display: flex;
					flex-direction: column;
					margin-top: 50px;
					h3 {
						border-bottom: 5px solid black;
					}
					input {
						border-radius: 1px;
						margin-bottom: 50px;
						border:none;
						padding: 10px 7px;
						background-color: rgb(94, 93, 93);
						color:white;
						&:hover {
							border-bottom: 1px solid black;
						}
						&:focus {
							transition: 0.15s border ease-in-out;
							border-bottom: 5px solid #19CF86;
							outline: none;
						}
					}
				}
				.email-body {
					textarea {
						border-radius: 2px;
						resize: none;
						padding: 10px 7px;
						line-height: 1.5;
						color:white;
						background-color: rgb(94, 93, 93);
						margin-top:75px;
						margin-left:100px;
						width: 100%;
						height: 65%;
						border: 1px solid white;
						&:hover {
							border: 1px solid #19CF86;
						}
						&:focus {
							transition: 0.15s border ease-in-out;
							border: 5px solid #19CF86;
							outline: none;
						}
					}
				}
			}
			button {
				border:1px solid #19CF68;
				color: #19CF86;
				background-color: #494949;
				padding: 7px 25px;
				border-radius: 50px;
				outline: none;
				font-size: 20px;
				letter-spacing: 2px;
				&:hover {
					transition: 0.25s background-color ease-in-out, 0.25s color ease-in-out;
					background-color: #19CF86;
					color:white;
					cursor: pointer;
				}
			}
		}
	}
}
