.header {
  width: 100%;
  .menu {
    list-style: none;
    width: 50%;
    .menu-icon {
      opacity: 0.5;
      left:85%;
      position: fixed;
      z-index:420666;
      padding: 5px;
      border: 1px solid black;
      width: 50px;
      height: 50px;
      -webkit-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.75);
      margin-top: 25px;
      border-radius: 4px;
      &:hover {
        transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out, opacity 0.5s ease-in-out;
        opacity: 1;
        background-color: #1cf09b;
        transform: scale(1.05);
        cursor: pointer;
      }
      img {
        width: 50px;
        height: 50px;
      }
      @media all and (max-width: 480px) {
        display: none;
      }

    }
  }
  .jumbotron {
    height: 550px;
    width: 100%;
    background-image: url("../../Images/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .opacity-overlay {
      width: inherit;
      height: inherit;
      background-color: rgba(51, 60, 56, 0.5);
      .title-container {
        margin: 0 auto;
        width: 60%;
        .title {
          display:flex;
          padding-top:50px;
          color:white;
          @media all and (max-width: 500px) {
            font-size: 20px;
          }
          @media all and (min-width: 501px) {
            font-size: 7vw;
          }
          margin: 0;
          .updating-title {
            margin-top: -7px;
            margin-left:15px;
            text-align: center;
            display: inline-block;
            width: auto;
            border: 5px solid rgb(6, 230, 252);
            padding: 5px 10px;
          }
        }
      }

      .kicker {
        @media all and (max-width: 500px) {
          font-size: 12px;
        }
        @media all and (min-width: 501px) {
          font-size: 1.5vw;
        }
        display: block;
        margin: 100px auto 25px;
        line-height: 2.0;
        font-weight: 100;
        color:white;
        text-align: center;
        width: 50%;
        height: auto;
      }
      .mission {
        @media all and (max-width: 481px) {
          font-size: 16px;
        }
        @media all and (min-width: 482px) {
          font-size: 2vw;
        }
        font-style: oblique;
        color:white;
        text-align: center;
      }
    }
  }
}
