.projects {
	height: auto;
	width: 100%;
	background: white;
	position: relative;
	.project-title {
		font-size: 48px;
		text-rendering: geometricPrecision;
		text-decoration: underline;
		color: rgb(255, 238, 1);
		text-align: center;
		background-color: rgb(179, 179, 179);
		border-top: 5px solid rgb(124, 124, 124);
		border-bottom: 5px solid rgb(124, 124, 124);
		padding-bottom: 15px;
		text-shadow: 2px 1px rgb(145, 136, 3);
		&:hover {
			cursor:default;
		}
	}
	.projects-carousel {
		width: 100%;
		height: 500px;
		#slide-1 {
			color:black;
			background-image: url("../../Images/db.jpg");
		}
		#slide-2 {
			color:black;
			background-image: url("../../Images/bg.png");
		}
		#slide-3 {
			color:black;
			background-image: url("../../Images/myhub.jpg");
		}
		.slide {
			display: none;
			margin-top:-40px;
			height:500px;
			background-color: rgb(222, 222, 222);
			width:100%;
			background-size: cover;
			background-attachment: fixed;
			.slide-title {
				padding-bottom: 25px;
				color: rgb(245, 235, 92);
				text-decoration: underline;
				text-align: center;
				font-size: 40px;
				margin: 0;
				padding-top:25px;
			}
			.project-logo {
				width:500px;
				border: 1px solid black;
				display: block;
				margin: 15px auto;
				height: 250px;
			}
			.project-desc {
				color: #48b98c;
				padding-top:50px;
				margin: 200px 10%;
				line-height: 2;
				font-size: 36px;
				text-align: center;
				border-bottom: none;
				font-weight: 800;
				&:hover {
					transition: border 0.12s ease-in-out, transform 0.12s ease-in-out;
					cursor: pointer;
					border-bottom: 3px solid #1cf09b;
					transform: scale(1.1);
				}
				a {
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}
	.next-container {
		height: 500px;
		width: 75px;
		position: absolute;
		margin-top: -500px;
		left: 94.15%;
		.next {
			margin-top: 200px;
			margin-left:50%;
			position: absolute;
			color:black;
			text-decoration: none;
			font-size: 72px;
			z-index: 1;
			left:-20%;
		}
		&:hover {
			transition: 0.5s background-color ease-in-out;
			background-color:rgba(#1cf09b, 0.61);
			cursor: pointer;
		}
	}
	.prev-container {
		width: 75px;
		height: 500px;
		position: absolute;
		margin-top: -500px;
		float:left;
		.prev {
			margin-top: 200px;
			left: 20%;
			float: left;
			position: absolute;
			color:black;
			text-decoration: none;
			font-size: 72px;
			z-index: 1;
		}
		&:hover {
			transition: 0.1s background-color ease-in-out;
			background-color:rgba(#1cf09b, 0.61);
			cursor: pointer;
		}
	}
}
